html,
body {
  width: 100%;
  height: 100%;
}
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
.lt_container {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 55px;
  position: relative;
  overflow: hidden;
}

.lt_header {
  height: 45px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #006699;
  text-align: center;
  padding: 0 45px;
  z-index: 99;
}
.lt_header h3 {
  margin: 0;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.lt_header a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.lt_header .icon-left,
.lt_header .icon-right {
  position: absolute;
  top: 0;
  color: #fff;
}
.lt_header .icon-left {
  left: 0;
}
.lt_header .icon-right {
  right: 0;
}
.lt_footer {
  height: 55px;
  width: 100%;
  background-color: #006699;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.lt_footer li {
  float: left;

  width: 25%;
}
.lt_footer li a {
  display: block;
  padding: 6px 0;
  color: #fff;
}
.lt_footer li a.current {
  color: orange;
}
.lt_footer li a p {
  height: 21px;
  margin: 0;
  color: #fff;
}
.lt_footer li a.current p {
  color: orange;
}

.lt_content {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.lt_content .lt_search {
  padding: 10px;
}

.lt_content .lt_search .input_search {
  border: 1px solid #007aff;
  height: 34px;
  padding-right: 54px;
  margin: 0;
  font-size: 12px;
  position: relative;
}
.lt_content .lt_search .btn_search {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}
/* 产品部分开始 */

.lt_product {
  padding: 10px;
  text-align: center;
  /* position: relative; */
}
.product_item {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}
.product_item:nth-child(2n-1) {
  margin-right: 4%;
}
.product_item .info {
  text-align: left;
  height: 40px;
}
.product_item a {
  display: block;
}
.product_item img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.product_item .price {
  color: #e92322;
}
.product_item .oldprice {
  text-decoration: line-through;
}

.lt_product button {
  margin: 0 auto;
}
/* 产品部分结束 */
/* 动画加载开始 */
.lt_product .loading {
  width: 50px;
  height: 50px;
  border: 4px solid #069;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  animation: rotate 1s infinite ease-in-out;
}

/* 动画步骤:
(1)定义动画效果
(2)使用动画
animation:动画名称 动画时间  动画次数 动画效果
*/

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* 动画加载结束 */
