.lt_nav {
  padding: 10px;
}
.lt_nav li {
  float: left;
  width: 33.3%;
}
.lt_nav li a {
  display: block;
}

/* 产品部分开始 */

.lt_product {
  padding: 10px;
  text-align: center;
}
.product_item {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}
.product_item:nth-child(2n-1) {
  margin-right: 4%;
}
.product_item .info {
  text-align: left;
  height: 40px;
}
.product_item img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.product_item .price {
  color: #e92322;
}
.product_item .oldprice {
  text-decoration: line-through;
}

.lt_product button {
  margin: 0 auto;
}
/* 产品部分结束 */
