.lt_history {
  padding: 10px;
  font-size: 12px;
}
.lt_history .title {
  height: 30px;
  line-height: 30px;
}
.lt_history .title i {
  display: inline-block;
  color: #666;
}
.content {
  border: 1px dashed red;
}
.content li {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-bottom: 1px dashed red;
}
.content li:last-child {
  border-bottom: none;
}
.content li i {
  line-height: 30px;
}
